@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --brand-color: #2196f3;
  --text-color: #212121;
  --background-color: #2f303a;
}
h1,
h2,
h3 {
  margin: 0;
}
a {
  transition: cubic-bezier(04, 0, 02, 1);
}

body {
  background-color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  color: var(--text-color);
  margin: 0;
  line-height: 1em;
}
.cabecera {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.borde {
  border-bottom: 1px solid #ececec;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.menu {
  display: flex;
  list-style: none;
  margin: auto;
}
.menu a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7142em;
  letter-spacing: 0.02em;
  margin: auto;
  margin-right: 50px;
}
.list {
  display: flex;
  gap: 50px;
}

a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
.link:focus {
  color: var(--brand-color);
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--brand-color);
  text-align: right;
  text-decoration: none;
  margin-right: 26px;
  padding-top: 24px;
  padding-bottom: 25px;
  text-decoration: none;
}
.link a {
  font-weight: 500;
  line-height: 1.2;
  color: var(--text-color);
  cursor: pointer;
  text-decoration: none;
  font-style: normal;
  margin: auto;
  margin-right: 50px;
  letter-spacing: 0.02em;
}
.link a:last-child {
  margin-right: 0;
}
.link {
  display: flex;
  list-style: none;
  margin: auto;
}
.current {
  color: var(--brand-color);
}
.menu-list .current::after {
  content: "";
  background-color: var(--brand-color);
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 100%;
  height: 4px;
}
.menu-list .link {
  position: relative;
  text-align: center;
  display: flex;
}

.link-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7142em;
  color: #757575;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.02em;
  padding: 0px;
  display: flex;
  align-items: center;
  list-style: none;
  margin: auto;
  padding: auto;
}
.info-prin {
  fill: #757575;
  margin-right: 10px;
}
.list-prin {
  margin-right: 10px;
}
.list-prin:last-child {
  margin-right: 0;
}
.button:hover {
  color: var(--text-color);
  cursor: pointer;
}
.link-contacts:hover .info-prin,
.link-contacts:focus .info-prin {
  fill: var(--brand-color);
}
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  box-shadow: 0px, 4px, 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: var(--brand-color);
  border: none;
  border-radius: 4px;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.03em;
  padding: 10px 32px;
  margin-left: 220px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.titles-ventajas {
  display: flex;
  padding: 0px;
  padding-top: 95px;
  padding-left: 15px;
}
.titles-ventajas ul {
  padding: 0%;
  margin: auto;
  display: flex;
}
.titles-index {
  margin-right: 30px;
}

.link-contacts:hover,
.link-contacts:focus {
  color: var(--brand-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover {
  cursor: pointer;
  color: var(--brand-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title {
  font-weight: 900;
  color: #ffffff;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  initial-letter: 0.06em;
  letter-spacing: 0.06em;
  line-height: 1.363em;
  width: 696px;
  font-size: 44px;
}
.hero {
  background-color: var(--background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  background: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
  background-image: linear-gradient(to top, #2f303a66, #2f303a66),
    url(../images/foto.jpg);
  background-size: cover;
}

.content-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.428em;
  letter-spacing: 0.03em;
  font-style: normal;
  text-transform: uppercase;
}

.content {
  font-size: 14px;
  color: #757575;
  line-height: 1.428em;
  margin: auto;
  letter-spacing: 0.03em;
  width: 270px;
}
.img-prin {
  display: block;
  margin: auto;
  padding-bottom: 94px;
  padding-top: 94px;
  min-width: 250;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166em;
  padding-bottom: 55px;
  margin: auto;
  text-align: center;
  font-style: normal;
  letter-spacing: 0.03em;
}
.img-li {
  display: flex;
  margin: 0px;
  margin-right: 0px;
  padding-left: 10px;
  gap: 25px;
}
.imag-objets {
  height: 323.7px;
  width: 373.16px;
  position: relative;
}
.img-cont {
  width: 373.16px;
  height: 323.7px;
  padding-right: 20px;
  padding-left: 0px;
  box-sizing: content-box;
}
.text-img-cont {
  justify-content: center;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0.03em;
}
.aplications {
  position: absolute;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  padding: 27px 79px;
  width: 373.16px;
}
.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166em;
  margin: auto;
  padding-bottom: 55px;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-work {
  padding-left: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
  min-width: 250;
  background-color: #f5f4fa;
}

.fondo {
  display: flex;
  margin: auto;
  padding: 0px;
}
.list-team {
  width: 270px;
  height: 428px;
  margin-right: 30px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.img-e {
  width: 270px;
  height: 260px;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.428emem;
  color: var(--text-color);
  text-align: center;
  letter-spacing: 0.03em;
  font-style: normal;
  padding-top: 30px;
}

.profession {
  font-size: 16px;
  color: #757575;
  line-height: 1.71em;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin: auto;
  font-style: normal;
  padding: 10px;
}

.filter-button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  line-height: 1.625em;
  border: none;
  border-radius: 4px;
  width: 145px;
  height: 38px;
  margin-right: 9px;
  text-align: center;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  border: 1px solid #eeeeee;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px F2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-blue {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  margin-right: 9px;
  width: 73px;
  height: 38px;
  text-align: center;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-blue:hover,
.button-blue:focus,
.button-blue:active {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.cuerpo-port {
  margin-top: 50px;
}
.button-port {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 30px;
}
.images-portafolio {
  font-size: 18px;
  line-height: 2;
  padding: 0px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  row-gap: 30px;
  cursor: pointer;
}
.img-port {
  flex-basis: ((100%-80px)/3);
}
.data-cards {
  font-weight: 400;
  line-height: 28px;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  transition: height 250ms;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 0%;
  margin: 0;
  bottom: 0;
  padding-left: 24px;
  padding-right: 24px;
}
.text-content-images {
  position: relative;
  display: block;
  overflow: hidden;
  width: 368px;
  height: 294px;
  margin: 0;
}
.text-content-images > .data-cards {
  display: block;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 0%;
}
.img-port:hover > .text-content-images .data-cards {
  height: 100%;
  padding-top: 62px;
}
.image-description {
  font-size: 14px;
  color: #757575;
  line-height: 1.71em;
  padding-left: 24px;
  padding-right: 24px;
}
.title-prt {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  padding-left: 24px;
  padding-right: 24px;
}
.img-port {
  width: 370px;
  height: 404px;
  border: 1px solid #eeeeee;
}
.img-port:hover {
  width: 370px;
  height: 404px;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
footer {
  padding-left: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.contacts-footer-uno {
  font-size: 14px;
  color: #ffffff;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-weight: 400;
  line-height: 1.7142em;
}
.contacts-footer {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-weight: 400;
  line-height: 1.7142em;
  color: rgba(255, 255, 255, 0.6);
}

.logo-f {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15em;
  color: var(--brand-color);
  letter-spacing: 0.03em;
}
.list-footer {
  list-style: none;
  padding: 0%;
  width: 231px;
  height: 92px;
}
.list-footer a {
  text-decoration: none;
}
address {
  font-style: normal;
}
.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--brand-color);
  cursor: pointer;
}
.contacts-footer-uno:hover,
.contacts-footer-uno:focus {
  color: var(--brand-color);
  cursor: pointer;
}
.imagenes-vector {
  background: #f5f4fa;
  margin-bottom: 30px;
}

.contenedor-redes-sociales {
  display: flex;
  justify-content: center;
  height: 44px;
  margin-bottom: 30px;
}
.icon-social-team {
  border-radius: 50%;
  height: 44px;
  margin-right: 10px;
  padding: 12px;
  fill: #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-social-team:hover {
  fill: #ffffff;
  background-color: var(--brand-color);
  display: flex;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  cursor: pointer;
}
.icon-prin {
  margin: 25px 100px;
}
.section-clients {
  padding-bottom: 151px;
  padding-top: 56px;
}
.contenedor-clients {
  display: flex;
  justify-content: center;
}
.clients {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  margin-right: 30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients:last-child {
  margin-right: 0;
}
.icon-clients {
  fill: #afb1b8;
  padding: 12px 30px;
  box-sizing: content-box;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-clients:hover,
.clients:hover {
  border-color: var(--brand-color);
  fill: var(--brand-color);
  cursor: pointer;
}
.social-footer {
  margin-left: 70px;
  margin-top: 32px;
}
.title-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-container {
  display: flex;
}
.contenedor-icon {
  display: flex;
  padding: 0;
}
.icon-footer {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-right: 10px;
  fill: #ffffff;
  padding: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-redes-footer {
  fill: #ffffff;
}
.icon-footer:last-child {
  margin-right: 0;
}
.icon-footer:hover {
  background: var(--brand-color);
  cursor: pointer;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  z-index: 1;
}
.modal {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 528px;
  height: 581px;
  margin: auto;
}
.button-modal-close {
  position: relative;
  left: 494px;
  top: 7px;
  padding: 4px 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.button-modal-close:hover {
  color: var(--brand-color);
  cursor: pointer;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-end {
  display: flex;
}
.subscription {
  display: flex;
  flex-direction: column;
  margin-left: 90px;
  margin-right: 12px;
  padding-top: 32px;
}
.text-end {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  line-height: 16px;
  letter-spacing: 0.03em;
}
.input-end {
  width: 348px;
  margin-top: 20px;
  height: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 10px;
}
.button-end {
  background: var(--brand-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  margin-right: 10px;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  height: 40px;
  margin-top: 35px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--brand-color);
  margin-top: 67px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-end:hover {
  border: 1px solid var(--brand-color);
  cursor: pointer;
}
.icon-enviar-cono {
  fill: #ffffff;
  margin-left: 20px;
  width: 24px;
  height: 24px;
}
.modal-prin {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  text-align: center;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 10px;
}

.window-modal {
  display: flex;
  flex-direction: column;
  width: 448px;
  margin-bottom: 10px;
  margin-left: 50px;
}
.window-modal :hover {
  border-color: var(--brand-color);
}
.info-window {
  width: 448px;
  margin-top: 5px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: rgba(33, 33, 33, 1);
  padding-left: 40px;
}
.info-window:focus-visible {
  outline: var(--brand-color) solid 1px;
}
.info-window:hover + .form-icons {
  fill: var(--brand-color);
}
.form-icons {
  position: relative;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-form {
  position: absolute;
  left: 15px;
  transform: translateY(-210%);
}

.window-modal-comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 448px;
  margin-left: 50px;
}
.window-modal-check {
  width: 448px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding-left: 20px;
  margin-left: 40px;
}
.parrafo-modal {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  margin: auto;
}
.checkbox {
  width: 16px;
  height: 15px;
  margin-right: 8.38px;
  margin-top: 5px;
  color: var(--text-color);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.bulletin {
  display: flex;
  font-style: normal;
  font-weight: 400;
}
.button-enviar {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  border-radius: 4px;
  display: block;
  margin: auto;
  cursor: pointer;
  color: var(--brand-color);
  width: 200px;
  height: 50px;
  border-color: var(--brand-color);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--brand-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button-enviar:hover {
  border: 1px solid var(--brand-color);
  cursor: pointer;
}
.modal-coment {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  padding-top: 12px;
  padding-left: 20px;
}
.modal-coment:focus-visible {
  outline: var(--brand-color) solid 1px;
}
.modal-coment:hover {
  border-color: var(--brand-color);
}
.textarea {
  resize: none;
}
