.hero {
  background-color: var(--background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  background: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
  background-image: linear-gradient(to top, #2f303a66, #2f303a66),
    url(../images/foto.jpg);
  background-size: cover;
}
.title {
  font-weight: 900;
  color: #ffffff;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  initial-letter: 0.06em;
  letter-spacing: 0.06em;
  line-height: 1.363em;
  width: 696px;
  font-size: 44px;
}
