.content-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.428em;
  letter-spacing: 0.03em;
  font-style: normal;
  text-transform: uppercase;
}
.imagenes-vector {
  background: #f5f4fa;
  margin-bottom: 30px;
}

.content {
  font-size: 14px;
  color: #757575;
  line-height: 1.428em;
  margin: auto;
  letter-spacing: 0.03em;
  width: 270px;
}
.titles-index {
  margin-right: 30px;
}
.titles-ventajas {
  display: flex;
  padding: 0px;
  padding-top: 95px;
  padding-left: 15px;
}
.titles-ventajas ul {
  padding: 0%;
  margin: auto;
  display: flex;
}
